{
  "env": {
    "web": {
      "presets": [
        ["env", { "modules": false }], "react", "stage-1"
      ],
      "plugins": ["react-hot-loader/babel"]
    },
    "node": {
      "presets": ["env", "react", "stage-1"]
    },
    "test": {
      "presets": ["env", "react", "stage-1"]
    }
  }
}
